@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border: #171421;
  --lighter-text: #f9f9f9;
  --light-text: #645f74;
  --background: #070508;
  --primary: #5320ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --border: #171421;
    --lighter-text: #f9f9f9;
    --light-text: #645f74;
    --background: #070508;
    --primary: #5320ff;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

@layer base {
  h2,
  h3 {
    color: var(--lighter-text);
  }

  p {
    color: var(--light-text);
  }

  strong {
    color: var(--lighter-text);
  }
}

@layer components {
  @-webkit-keyframes rotate-card-up {
    0% {
      -webkit-transform: rotateY(0) scale(1);
      transform: rotateY(0) scale(1);
    }
    33% {
      -webkit-transform: rotateY(0) scale(1.1);
      transform: rotateY(0) scale(1.1);
    }
    66% {
      -webkit-transform: rotateY(-180deg) scale(1.1);
      transform: rotateY(-180deg) scale(1.1);
    }
    100% {
      -webkit-transform: rotateY(-180deg) scale(1);
      transform: rotateY(-180deg) scale(1);
    }
  }
  @keyframes rotate-card-up {
    0% {
      -webkit-transform: rotateY(0) scale(1);
      transform: rotateY(0) scale(1);
    }
    33% {
      -webkit-transform: rotateY(0) scale(1.1);
      transform: rotateY(0) scale(1.1);
    }
    66% {
      -webkit-transform: rotateY(-180deg) scale(1.1);
      transform: rotateY(-180deg) scale(1.1);
    }
    100% {
      -webkit-transform: rotateY(-180deg) scale(1);
      transform: rotateY(-180deg) scale(1);
    }
  }

  @-webkit-keyframes rotate-card-down {
    0% {
      -webkit-transform: rotateY(-180deg) scale(1);
      transform: rotateY(-180deg) scale(1);
    }
    33% {
      -webkit-transform: rotateY(-180deg) scale(1.1);
      transform: rotateY(-180deg) scale(1.1);
    }
    66% {
      -webkit-transform: rotateY(0) scale(1.1);
      transform: rotateY(0) scale(1.1);
    }
    100% {
      -webkit-transform: rotateY(0) scale(1);
      transform: rotateY(0) scale(1);
    }
  }
  @keyframes rotate-card-down {
    0% {
      -webkit-transform: rotateY(-180deg) scale(1);
      transform: rotateY(-180deg) scale(1);
    }
    33% {
      -webkit-transform: rotateY(-180deg) scale(1.1);
      transform: rotateY(-180deg) scale(1.1);
    }
    66% {
      -webkit-transform: rotateY(0) scale(1.1);
      transform: rotateY(0) scale(1.1);
    }
    100% {
      -webkit-transform: rotateY(0) scale(1);
      transform: rotateY(0) scale(1);
    }
  }

  .picture-card {
    transform-style: preserve-3d;
  }

  .teste {
    perspective: 1000px;
  }

  .project-card {
    transform-style: preserve-3d;
    position: relative;

    width: 100%;
    max-width: 370px;
    min-height: 270px;
    border-radius: 0.5rem;

    cursor: pointer;
  }

  .project-card-down {
    -webkit-animation: rotate-card-down 0.8s ease both;
    animation: rotate-card-down 0.8s ease both;
  }
  .project-card-up {
    /* transform: rotateY(-180deg); */
    -webkit-animation: rotate-card-up 0.8s ease both;
    animation: rotate-card-up 0.8s ease both;
  }

  .front-card,
  .back-card {
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;

    border-radius: 0.5rem;
  }

  .front-card {
    transition: filter 0.3s;
    z-index: 20;
  }

  .back-card {
    background-color: var(--border);
    transform: rotateY(-180deg);

    /* border: 1px solid var(--light-text); */

    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@layer utilities {
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .col-span-2 {
    grid-column: span 2;
  }

  .top-grid {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .grid-area-wide {
    grid-template-areas:
      "left1 top1 top2 top3 right1"
      "left2 subgrid-area subgrid-area subgrid-area right2"
      "left3 subgrid-area subgrid-area subgrid-area right3"
      "left4 subgrid-area subgrid-area subgrid-area right4"
      "left5 subgrid-area subgrid-area subgrid-area right5"
      "left6 bottom1 bottom2 bottom3 right6";

    grid-template-columns:
      1fr minmax(400px, 426.66px) minmax(400px, 426.66px) minmax(
        400px,
        426.66px
      )
      1fr;
    grid-template-rows: 32px 192px 600px minmax(384px, 1fr) 128px minmax(
        32px,
        1fr
      );
  }

  .grid-area-slim {
    grid-template-areas:
      "left1 top1 top2 top3 top3 right1"
      "left2 subgrid-area subgrid-area subgrid-area subgrid-area right2"
      "left3 subgrid-area subgrid-area subgrid-area subgrid-area right3"
      "left4 subgrid-area subgrid-area subgrid-area subgrid-area right4"
      "left5 subgrid-area subgrid-area subgrid-area subgrid-area right5"
      "left6 bottom1 bottom2 bottom3 bottom3 right6";

    grid-template-columns:
      32px
      minmax(200px, 2fr) minmax(200px, 2fr) minmax(200px, 1fr)
      minmax(200px, 1fr) 32px;
    grid-template-rows: 32px 192px 448px minmax(384px, 1fr) 128px 32px;
  }

  .grid-area-one-flow {
    grid-template:
      "left1 top1 right1" 16px
      "left2 subgrid-area right2" 192px
      "left3 subgrid-area right3" 192px
      "left4 subgrid-area right4" 448px
      "left4 subgrid-area right4" 380px
      "left4 subgrid-area right4" 600px
      "left4 subgrid-area right4" minmax(384px, 1fr)
      "left5 subgrid-area right5" 128px
      "left6 bottom1 right6" 16px
      / 16px minmax(320px, 1fr) 16px;
  }

  .area-wide {
    grid-template-areas:
      "logo logo-space options"
      "about-me content picture"
      "projects projects projects"
      "phrase phrase phrase"
      "bottom1 bottom2 bottom3";

    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr) minmax(
        400px,
        1fr
      );
    grid-template-rows: 192px 600px minmax(384px, 1fr) 128px;
  }

  .area-slim {
    grid-template-areas:
      "logo logo-space options options"
      "about-me about-me picture picture"
      "content content projects projects"
      "phrase phrase phrase phrase"
      "bottom1 bottom2 bottom3 bottom3";

    grid-template-columns:
      minmax(200px, 2fr) minmax(200px, 2fr) minmax(200px, 1fr)
      minmax(200px, 1fr);
    grid-template-rows: 192px 448px minmax(384px, 1fr) 128px;
  }

  .area-one-flow {
    grid-template:
      "logo" 192px
      "options" 192px
      "picture" 448px
      "about-me" 480px
      "content" 600px
      "projects" minmax(384px, 1fr)
      "phrase" 128px
      / minmax(320px, 1fr);
  }

  .logo {
    grid-area: logo;
  }

  .logo-space {
    grid-area: logo-space;
  }

  .options {
    grid-area: options;
  }

  .about-me {
    grid-area: about-me;
  }

  .picture {
    grid-area: picture;
  }

  .content {
    grid-area: content;
  }

  .projects {
    grid-area: projects;
  }

  .phrase {
    grid-area: phrase;
  }

  .text-balance {
    text-wrap: balance;
  }

  .subgrid-area {
    grid-area: subgrid-area;
  }

  .top1 {
    grid-area: top1;
  }
  .top2 {
    grid-area: top2;
  }
  .top3 {
    grid-area: top3;
  }
  .bottom1 {
    grid-area: bottom1;
  }
  .bottom2 {
    grid-area: bottom2;
  }
  .bottom3 {
    grid-area: bottom3;
  }

  .left1 {
    grid-area: left1;
  }
  .left2 {
    grid-area: left2;
  }
  .left3 {
    grid-area: left3;
  }
  .left4 {
    grid-area: left4;
  }
  .left5 {
    grid-area: left5;
  }
  .left6 {
    grid-area: left6;
  }

  .right1 {
    grid-area: right1;
  }
  .right2 {
    grid-area: right2;
  }
  .right3 {
    grid-area: right3;
  }
  .right4 {
    grid-area: right4;
  }
  .right5 {
    grid-area: right5;
  }
  .right6 {
    grid-area: right6;
  }
}
